.card {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.image {
    width: 100%;
    height: 150px;
    object-fit: contain;
    border-radius: 4px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    min-height: 38px;
    font-size: 14px;
    color: #555;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
}

.price {
    font-size: 15px;
    font-weight: bold;
    margin-top: auto;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    padding: 4px;
}