/* Общий контейнер, центрируем контент */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Сетка товаров */
.productsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    /* центрируем карточки */
}

/* Стили для текста загрузки и ошибки */
.loadingText {
    padding: 20px;
    text-align: center;
}

.errorText {
    padding: 20px;
    color: red;
    text-align: center;
}