.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Секция с SearchBar и UserDashboardBar */
.topBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Универсальный контейнер для всех страниц */
.contentWrapper {
    max-width: 1400px;
    /* фиксированная максимальная ширина */
    width: 100%;
    margin: 0 auto;
    /* центрирование по горизонтали */
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}